@{ViewData["Title"] = "Home"; }
<div class="container-fluid">
	<div class="row justify-content-center align-items-center" style="height:50vh">
		<div class="col-md-6 text-center">
			<h1>Welcome to our Product Store</h1>
			<p>Explore our selection of high-quality brand products.</p>
			<a asp-action="Index" asp-controller="Products" class="m-2">Shop Now</a>
		</div>
	</div>
</div>